
.navbar{
    border-radius: 0%;
}
.form-control{
    height: 50px;
}
#actual{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.posts{
    padding: 8px;
    border: 1px solid rgb(199, 199, 199);
    width: 80%;
    margin-left: 10%;
}

.written{
    
    background-color: #e7f2f4;
}