
.navbar{
    border-radius: 0%;
}
.form-control{
    height: 50px;
}
.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#actual{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 30px;
    justify-content: space-between;
}
.posts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 8px;
    border: 1px solid rgb(199, 199, 199);
}
.written{
    width: max-content;
    background-color: #e7f2f4;
}